In [2]:
from sklearn import preprocessing
import pandas as pd
diabetics = pd.read_csv("my-pima-indians-diabetes.csv")
print(diabetics)
MinMax = (diabetics - diabetics.min(axis=0)) / (diabetics.max(axis=0) - diabetics.min(axis=0))
max=1;
min=0;
MinMax1 = MinMax * (max - min) + min
print(MinMax1)
MinMax1= diabetics.columns
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
names = diabetics.columns
d=scaler.fit_transform(diabetics)
scaled_df =pd.DataFrame(d,columns=MinMax1)
scaled_df.head()

      A    B   C   D    E     F      G   H  I
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]
            A         B         C         D         E         F         G  \
0    0.058824  0.427136  0.540984  0.292929  0.000000  0.396423  0.116567
1    0.470588  0.919598  0.524590  0.000000  0.000000  0.347243  0.253629
2    0.058824  0.447236  0.540984  0.232323  0.111111  0.418778  0.038002
3    0.000000  0.688442  0.327869  0.353535  0.198582  0.642325  0.943638
4    0.294118  0.582915  0.606557  0.000000  0.000000  0.381520  0.052519
..        ...       ...       ...       ...       ...       ...       ...
762  0.588235  0.507538  0.622951  0.484848  0.212766  0.490313  0.039710
763  0.117647  0.613065  0.573770  0.272727  0.000000  0.548435  0.111870
764  0.294118  0.608040  0.590164  0.232323  0.132388  0.390462  0.071307
765  0.058824  0.633166  0.491803  0.000000  0.000000  0.448584  0.115713
766  0.058824  0.467337  0.573770  0.313131  0.000000  0.453055  0.101196

            H    I
0    0.166667  0.0
1    0.183333  1.0
2    0.000000  0.0
3    0.200000  1.0
4    0.150000  0.0
..        ...  ...
762  0.700000  0.0
763  0.100000  0.0
764  0.150000  0.0
765  0.433333  1.0
766  0.033333  0.0

[767 rows x 9 columns]

,A,B,C,D,E,F,G,H,I
0,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
1,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
2,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
3,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0
4,0.294118,0.582915,0.606557,0.000000,0.000000,0.381520,0.052519,0.150000,0.0